<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/main.css" type="text/css"
    charset="utf-8"> 
    <script src='static/js/jquery-3.6.0.min.js'> </script>
    <script src='static/js/bills.js'></script>
</head>
<body>
    {% include 'header.html' %} 
    

    <div class="bill_details">
    <div class="container">
        <div class="Title">
            <h2>Add a new Bill</h2>
        </div>
        <form onsubmit="submitdetails(event)" >
            <label for="billname">Name:</label>
            <input id="name" name="billname"><br>
            <label for="amount">Amount in pounds:</label>
            <input id="amount" name="amount"><br>
            <button id="details" type="submit"> Add </button>
        </form>
    </div>
    </div>

    <div class="Choose_Group">
        <div class="container">
            <div class="Title">
                <h2>Add a new Bill</h2>
            </div>
        <table>
            <thead>
                <tr>
                    <th >Select Group to create bill</th>
                </tr>
                <tr>
                    <th >Double-click to choose preferd group</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in groups %}
                <tr>
                    <td><button ondblclick="addGroup(event)" id="{{entry.id}}"> {{entry.name}} </button> </td>
                </tr>
                {% else %}
                <tr>
                    <td>No Groups to show</td>
                    <a href="/addgroup">Click to add groups </a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    
    <div class="final">
        <h2>Bill has been created Successfully! Congrats :)</h2>
        <p>All the group members will be notified accordingly!</p>
        <a href="/bills"><button id="btnsuccess"> View bills</button> </a>
    </div>


    <div id="alerts">
    </div>

</body>
</html>