<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/main.css" type="text/css"
    charset="utf-8"> 
    <script src='static/js/jquery-3.6.0.min.js'> </script>
    <script src='static/js/validation.js'></script>
</head>
<body>
    {% include 'header.html' %} 
    <div class="Title">
        <h2>Add a users to share bill</h2>
    </div>
    <form action="/splitbill" method="POST">
        <label for="user_name">Name of user:</label>
        <input name="user_name"><br>
        <label for="user_email">Email of user:</label>
        <input name="user_email"><br>
        <input type="submit" value="add">
    </form>
    </div>
    <br>
    <a href='/activatebill?group_id={{group_id}}'> Activate the Bill </a>
    
    <script>
        $(function(){
            $.get('/groupid',function(data,status){
                group_id=data;
                alert(group_id)
            })
        });
    </script>
</body>
</html>